@import './base.css';

#app {
  max-width: var(--p-max-container-width, '1170px');
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Global transition classes for all components */
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.fade-enter-from {
  opacity: 0;
  transform: translateY(0px);
}

.fade-leave-to {
  opacity: 0;
  transform: translateY(0px);
}

/* App-level transitions */
.app__component--transition-enter-active,
.app__component--transition-leave-active {
  transition: all 0.5s ease-in-out;
}

.app__component--transition-enter-from {
  opacity: 0;
  transform: translateX(0px);
}

.app__component--transition-leave-to {
  opacity: 0;
  transform: translateX(0px);
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
